<!DOCTYPE html>
<html lang="en" xmlns:wb="http://open.weibo.com/wb" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>

    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />



    <!-- animation css files -->
    <link rel="stylesheet" href="/boot/css/animation-aos.css">
    <link href='/static/boot/css/aos.css' rel='stylesheet prefetch' type="text/css" media="all" />
    <!-- //animation css files -->

    <!-- css files -->
    <link href="/boot/css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="/boot/css/style1.css" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="/boot/css/fontawesome-all.css" rel="stylesheet"><!-- fontawesome css -->
    <!-- //css files -->
    <!-- google fonts -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <!-- //下拉菜单 -->
    <!-- 浮窗 boot1 -->
    <link href="/boot1/css/bootstrap.css" rel="stylesheet">
    <link href="/boot1/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Extra Styles, not needed for Mega Menu or Boostrap -->
    <link href="/boot1/css/style.css" rel="stylesheet">

    <!-- Mega Menu Style, you kinda really need Bootstrap in order for this to work -->
    <link href="/boot1/css/mega-menu.css" rel="stylesheet">

    <!-- Le Google font -->
    <link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
    <!--//浮窗-->

    <!--搜索框-->
    <script id="allmobilize" charset="utf-8" src="/bootp/js/allmobilize.min.js"></script>
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="alternate" media="handheld"  />
    <!-- end 云适配 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta property="qc:admins" content="23635710066417756375" />
    <meta content="内容运营 武汉 本科 3-5年 全职 运营 大家都来了 你还在等什么！！ 立方网 北京立方网信息技术有限公司 立方网努力尝试把许多人对互联网的需求从现有的娱乐、资讯和交流平台进一步引导到文化与生活伴侣的方面. 拉勾网-最专业的互联网招聘平台" name="description">
    <meta content="内容运营 武汉 本科 3-5年 全职 运营 大家都来了 你还在等什么！！ 立方网 北京立方网信息技术有限公司 立方网努力尝试把许多人对互联网的需求从现有的娱乐、资讯和交流平台进一步引导到文化与生活伴侣的方面. 拉勾网-最专业的互联网招聘平台" name="keywords">
    <meta name="baidu-site-verification" content="QIQ6KC1oZ6" />
    <meta property="qc:admins" content="23635710066417756375" />
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="baidu-site-verification" content="QIQ6KC1oZ6" />

    <!-- <div class="web_root"  style="display:none">h</div> -->

    <link rel="Shortcut Icon" href="h/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/bootp/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/bootp/css/external.min.css"/>
    <link rel="stylesheet" type="text/css" href="/bootp/css/popup.css"/>

</head>
<body>

<!-- header -->
<header class="index-banner">
    <!-- nav -->
    <nav class="main-header navShadow">
        <div id="brand" data-aos="zoom-in-up" class="aos-init aos-animate">

            <div id="logo">
                <a href="index.html">
                    <i class="fab fa-blackberry"></i>
                </a>
            </div>
            <div id="word-mark">
                <h1>
                    <a href="index.html">DATABOX</a>
                </h1>
            </div>
        </div>
        <div id="menu">
            <div id="menu-toggle">
                <div id="menu-icon">
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
            <ul class="text-center text-capitalize nav-agile" data-aos="zoom-in-up" >
                <li>
                    <a href="/data/main" class="active">首页</a>
                </li>
                <li>
                    <a href="index.html" class="active"></a>
                </li>
                <!--<li>
                    <a href="#choose" class="scroll">职位</a>
                </li>-->

                <!--下拉菜单-->
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> 报表 </a>
                    <section class="dropdown-menu mega-menu-2 transition">
                        <ul class="add-bottom-space">
                            <li><a target="_blank"  href="/data/position1" style="color: #4e4f50">数据挖掘</a></li>
                            <li><a target="_blank"  href="/data/position2"  style="color:#4e4f50">人事经理</a></li>
                            <li><a target="_blank"  href="/data/position3" style="color:#4e4f50">C++游戏开发 </a></li>
                            <li><a target="_blank"  href="/data/position4"  style="color:#4e4f50">web前端开发师 </a></li>
                        </ul>
                    </section>
                </li><!-- 下拉菜单 -->
                <li>
                    <a href="#" class="active"></a>
                </li>

                <li>
                    <a th:href="@{'position/0'}" class="scroll">职位</a>
                </li>
                <li>
                    <a href="#" class="active"></a>
                </li>

                <li>
                    <a href="/data/chat1" class="scroll">讨论</a>
                </li>
                <li>
                    <a href="index.html" class="active"></a>
                </li>


                <li class="dropdown"><a href="#" th:text="${session.UserInfo.UserName}"  class="dropdown-toggle" data-toggle="dropdown"> 用户 </a>
                    <section class="dropdown-menu mega-menu-2 transition">
                        <ul class="add-bottom-space">
                            <li><a href="/user/shoppingcar"   style="color:#4e4f50">个人中心</a></li>
                        </ul>
                    </section>
                </li><!-- 下拉菜单 ---->
                <li>
                    <a href="#" class="active"></a>
                </li>


                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> 登录 </a>
                    <section class="dropdown-menu mega-menu-2 transition">
                        <ul class="add-bottom-space">
                            <li><a href="/user/login2" style="color: #4e4f50">企业用户</a></li>
                            <li><a href="/data/admin"  style="color:#4e4f50">管理员</a></li>
                            <li><a href="/user/login" style="color:#4e4f50">退出登陆 </a></li>
                        </ul>
                    </section>
                </li><!-- 下拉菜单 -->
                <li>
                    <a href="#" class="active"></a>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> 注册 </a>
                    <section class="dropdown-menu mega-menu-2 transition">
                        <ul class="add-bottom-space">
                            <li><a href="/data/register2" style="color: #4e4f50">企业用户</a></li>
                            <li><a href="/user/register"  style="color:#4e4f50">普通用户</a></li>
                        </ul>
                    </section>
                </li><!-- 下拉菜单 -->

                <li>
                    <a href="index.html" class="active"></a>
                </li>

                <li>
                    <a href="index.html" class="active"></a>
                </li>

            </ul>
        </div>

    </nav>
    <!-- //nav -->
</header>
<!-- //header -->



<!-- 内容 -->
<section class="faq-w3l py-5" id="faq">
    <div class="container py-lg-3">
        <div class="row faq-info">
            <div class=" col-md-6 faq-w3agile">
            </div>
        </div>
    </div>
</section>
<!-- //内容 -->
<div id="container" >
    <form class="form-horizontal" method="post" th:action="@{/data/detail}" enctype="multipart/form-data">
        <input type="hidden" th:value="${posi.PositionID}" name="PositionID">
        <div class="span_1_of_left"  enctype="multipart/form-data">
            <dl class="job_detail">
                <dt>
                    <h1 title="内容运营" th:text="${posi.Position}">
                    </h1>
                </dt>
            </dl>

        </div>
        <button type="submit" class="inline jd_collection" title="收藏"></button>
        <!--                    <a class="inline jd_collection" type="submit" title="登录">-->
        <!--                    </a>-->
        </dt>
        <dd class="job_request">
            <span  class="red" th:text="${posi.Company}">公司</span>
            <span th:text="${posi.Salary}" >4k-6k</span>
            <span th:text="${posi.City}">武汉</span>
            <span th:text="${posi.Experience}">经验3-5年 </span>
            <span th:text="${posi.Education}"> 本科及以上</span>
            <span th:text="${posi.Function}">全职</span><br />
            <a > 职位诱惑 : 大家都来了 你还在等什么！！</a>
            <div>发布时间：3天前发布</div>
        </dd>
        <dd class="job_bt" style="width: 800px">
            <h3 class="description" >职位描述</h3>
            <p th:text="${posi.Description}">描述</p>

        </dd>
        <dd>
            <a target="_blank" th:href="${posi.Url}" title="登录" class="inline btn fr btn_apply">投个简历</a>
        </dd>
        </dl>
        <div id="weibolist"></div>

    </form>

</div>
<input type="hidden" value="" name="userid" id="userid" />
<input type="hidden" value="" name="type" id="resend_type" />
<input type="hidden" value="140204"  id="jobid" />
<input type="hidden" value="683"  id="companyid" />
<input type="hidden" value="" id="positionLng" />
<input type="hidden" value="" id="positionLat" />

<div id="tipOverlay" ></div>

<script type="text/javascript" src="/bootp/js/job_detail.js"></script>
<script type="text/javascript" src="/bootp/js/count.js"></script>


<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=3d6a9f4b807441569414b01eecc20959"></script>
<div class="clear"></div>
<input type="hidden" id="resubmitToken" value="6e1925fdbe7142468f154abd1d33f5a8" />
<a id="backtop" title="回到顶部" rel="nofollow"></a>
</div><!-- end #container -->


<div>&nbsp;&nbsp;</div>
<!-- 内容 -->
<!-- 内容 -->




<!-- 内容 -->
<!-- 内容 -->
<!--footer -->
<footer>
    <section class="footer footer_w3layouts_section_1its py-5" style="height:300 px;">
        <div class="container py-md-3">
            <div class="footer-grid_section text-center" data-aos="zoom-in" padding:5px; style="height: 40x;">
                <ul class="social_section_1info">
                    <li class="mb-2 facebook"><a href="#"><i class="fab mr-1 fa-facebook-f"></i>facebook</a></li>
                    <li class="mb-2 twitter"><a href="#"><i class="fab mr-1 fa-twitter"></i>twitter</a></li>
                    <li class="google"><a href="#"><i class="fab mr-1 fa-google-plus-g"></i>google</a></li>
                    <li class="linkedin"><a href="#"><i class="fab mr-1 fa-linkedin-in"></i>linkedin</a></li>
                </ul>
            </div>

            <div class="row footer-top mt-md-5 mt-4"style="height: 150px;">
                <div class="col-lg-4 col-md-6 footer-grid_section_1its_w3" data-aos="fade-right">
                    <div class="footer-title">
                        <h3>关 于 我 们</h3>
                    </div>
                    <div class="footer-text">
                        <p>产 品 介 绍 </p>
                        <p>相 关 新 闻  <a href="mailto:info@example.com">info@example.com</a></p>
                        <p>联 系 我 们 : +12 534894364</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4 footer-grid_section_1its_w3" data-aos="fade-up">
                    <div class="footer-title">
                        <h3>友 情 链 接</h3>
                    </div>
                    <div class="row">
                        <ul class="col-6 links">
                            <li><a href="#choose" class="scroll"> </a></li>
                            <li><a href="#https://www.zhipin.com/?sid=sem_pz_360pc_title" class="scroll">Boss 直 聘 </a></li>
                            <li><a href="#https://zhaopin.baidu.com/quanzhi" class="scroll">百 度 百 聘</a></li>
                            <li><a href="#https://wh.58.com/?utm_source=sem-360-pc&spm=14623020152.6642781136&utm_campaign=sell&utm_medium=cpcq" class="scroll">58 同 城 </a></li>
                            <li><a href="#https://join.qq.com/" class="scroll">腾 讯 校 园 招 聘 </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mt-lg-0 mt-4 col-sm-12 footer-grid_section_1its_w3" data-aos="fade-left">
                    <div class="footer-title">
                        <h3>用户中心</h3>
                    </div>
                    <ul class="col-6 links">
                        <li><a href="#">使 用 指 南 </a></li>
                        <li><a href="#faq" class="scroll">用 户 协 议</a></li>
                        <li><a href="#">企 业 咨 询</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row">
            <img src="/erweima.jpg">
        </div>

    </section>

</footer>
<!-- //footer -->

<!-- copyright -->
<div class="cpy-right text-center py-3"style="height: 40px;">
    <p class="">Copyright &copy; 2019.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
</div>
<!-- //copyright -->

<!-- Vertically centered Modal -->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-capitalize text-center" id="exampleModalLongTitle"> <i class="fab fa-blackberry"></i> Landing</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save Changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- //Vertically centered Modal -->

<!-- video Modal Popup -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Video Overview</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body video">
                <iframe src=""></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save Changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- //video Model Popup -->

<!--/Login-->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="login px-4 mx-auto mw-100">
                    <h5 class="text-center mb-4">Login Now</h5>
                    <form action="#" method="post">
                        <div class="form-group">
                            <label class="mb-2">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label class="mb-2">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="" required="">
                        </div>
                        <div class="form-check mb-2">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary submit mt-2">Sign In</button>
                        <p class="text-center pb-4">
                            <a href="#" data-toggle="modal2" data-target="#exampleModalCenter"> Don't have an account?</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




</body>
<!--//Login-->
<!-- testimonials  Responsiveslides -->
<script src="/boot/js/responsiveslides.min.js"></script>
<script>
    // You can also use"$(window).load(function() {"
    $(function () {
        // Slideshow 4
        $("#slider3").responsiveSlides({
            auto: true,
            pager: true,
            nav: false,
            speed: 500,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });

    });
</script>
<!-- //testimonials  Responsiveslides -->

<!-- sticky nav bar-->
<script>
    $(() => {

        //On Scroll Functionality
        $(window).scroll(() => {
            var windowTop = $(window).scrollTop();
            windowTop > 100 ? $('nav').addClass('navShadow') : $('nav').removeClass('navShadow');
            windowTop > 100 ? $('ul.nav-agile').css('top', '50px') : $('ul.nav-agile').css('top', '160px');
        });

        //Click Logo To Scroll To Top
        $('#logo').on('click', () => {
            $('html,body').animate({
                scrollTop: 0
            }, 500);
        });

        /*
         //Smooth Scrolling Using Navigation Menu
         $('a[href*="#"]').on('click', function (e) {
           $('html,body').animate({
             scrollTop: $($(this).attr('href')).offset().top - 100
           }, 500);
           e.preventDefault();
         });
        */

        //Toggle Menu
        $('#menu-toggle').on('click', () => {
            $('#menu-toggle').toggleClass('closeMenu');
            $('ul').toggleClass('showMenu');

            $('li').on('click', () => {
                $('ul').removeClass('showMenu');
                $('#menu-toggle').removeClass('closeMenu');
            });
        });

    });
</script>
<!-- //sticky nav bar -->

<!-- js -->
<script src="/boot/js/jquery-2.2.3.min.js"></script>
<script src="/boot/js/bootstrap.js"></script>
<!-- //js -->

<!-- animation js -->
<script src='/boot/js/aos.js'></script>
<script>
    AOS.init({
        easing: 'ease-out-back',
        duration: 1000
    });

</script>
<!-- //animation js -->
<script type="text/javascript">
    var ctx = "h";
    console.log(1);
</script>
<script src="/bootp/js/jquery-hbzx.js" type="text/javascript"></script>

<script src="/bootp/js/jquery.1.10.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/bootp/js/jquery.lib.min.js"></script>
<script src="/bootp/js/ajaxfileupload.js" type="text/javascript"></script>
<script type="text/javascript" src="/bootp/js/additional-methods.js"></script>
<!--[if lte IE 8]>
<script type="text/javascript" src="/bootp/js/excanvas.js"></script>
<![endif]-->
<script id="allmobilize" charset="utf-8" src="/bootp/js/allmobilize.min.js"></script>
<script type="text/javascript">
    var youdao_conv_id = 271546;
</script>
<script type="text/javascript" src="/bootp/js/conv.js"></script>
<!--搜索框-->
<script>
    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
</script>
<script src="/boot/js/smoothscroll.js"></script><!-- Smooth scrolling -->

<!-- start-smoth-scrolling -->
<script src="/boot/js/move-top.js"></script>
<script src="/boot/js/easing.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 900);
        });
    });
</script>
<script>
    $(document).ready(function () {
        /*
        var defaults = {
              containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
         };
        */

        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
</script>
<!-- //end-smoth-scrolling -->

<!-- 下拉菜单 -->

<script src="/boot1/js/bootstrap.min.js"></script>
<!--//下拉菜单-->
<!--    搜索框-->

<script type="text/javascript" src="bootp/js/core.min.js"></script>
<script type="text/javascript" src="bootp/js/popup.min.js"></script>
<!--    搜索框-->
</html>