<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <!-- animation css files -->
    <link rel="stylesheet" href="../static/boot/css/animation-aos.css">
    <link href='/static/boot/css/aos.css' rel='stylesheet prefetch' type="text/css" media="all" />
    <!-- //animation css files -->

    <!-- css files -->
    <link href="/static/boot/css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="/static/boot/css/style.css" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="/static/boot/css/fontawesome-all.css" rel="stylesheet"><!-- fontawesome css -->
    <!-- //css files -->

    <!-- google fonts -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <!-- //google fonts -->

</head>
<body>

<!-- header -->
<header class="index-banner">
    <!-- nav -->
    <nav class="main-header">
        <div id="brand" data-aos="zoom-in-up">
            <div id="logo">
                <a href="index.html">
                    <i class="fab fa-blackberry"></i>
                </a>
            </div>
            <div id="word-mark">
                <h1>
                    <a href="index.html">DATABOX</a>
                </h1>
            </div>
        </div>
        <div id="menu">
            <div id="menu-toggle">
                <div id="menu-icon">
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
            <ul class="text-center text-capitalize nav-agile" data-aos="zoom-in-up" margin-right:40px>
                <li>
                    <a href="index.html" class="active">首页</a>
                </li>
                <li>
                    <a href="index.html" class="active"></a>
                </li>
                <li>
                    <a href="#choose" class="scroll">职位</a>
                </li>
                <li>
                    <a href="index.html" class="active"></a>
                </li>
                <li>
                    <a href="#overview" class="scroll">城市</a>
                </li>
                <li>
                    <a href="index.html" class="active"></a>
                </li>
                <li>
                    <a href="#pricing" class="scroll">专业</a>
                </li>
                <li>
                    <a href="index.html" class="active"></a>
                </li>
                <li>
                    <a href="#faq" class="scroll">讨论</a>
                </li>
                <li>
                    <a href="index.html" class="active"></a>
                </li>
                <li>
                    <a href="index.html" class="active"></a>
                </li>
                <li>
                    <img src="/static/boot/images/1.png" class="" />
                </li>
                <li >
                    <a class="scroll" href="" >
                        <!--	<div th:text="${session.user.stu_name}"></div>-->Mark
                    </a>
                </li>
                <li>
                    <a href="index.html" class="active"></a>
                </li>
                <a href="/stu/login" class="btn btn-primary">登录</a>
                </li>
                <li>
                    <a href="index.html" class="active"></a>
                </li>
                </li>

                <a href="/stu/register" class="btn btn-primary">注册</a>
                </li>
                <li>
                    <a href="index.html" class="active"></a>
                </li>
                <li>
                    <a href="index.html" class="active"></a>
                </li>
                <li>
                    <a href="index.html" class="active"></a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- //nav -->
    <!-- banner -->
    <div class="banner layer" id="home">
        <div class="container">
            <div class="row banner-text">
                <div class="slider-info col-lg-8">
                    <div class="agileinfo-logo mt-5">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <h3 class="txt-w3_agile" data-aos="fade-down">社 会 职 位 变 化 分 析 </h3>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="col-lg-4 col-md-8 mt-lg-0 mt-5 banner-form" data-aos="fade-left">
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 mt-lg-0 mt-5 banner-form" data-aos="fade-left">
                    <h5><i class="fas mr-2 fa-laptop" style="height: 50px"></i> 找回密码</h5>
                    <form action="/stu/login" class="mt-4" method="post">
                        <input class="form-control" style="height: 50px" type="text" name="UserID" placeholder="请输入手机号" required="" />
                        <input class="form-control" maxlength="5" style="width: 60%;" type="password" name="password" placeholder="请输入验证码" required=""/>
                        <div class="sms_button" onclick="smsCodeBtnClick()" id="login_sms_button" disabled="disabled">获取手机验证码</div>
                        <input class="form-control" style="height: 50px" type="password" name="password" placeholder="请设置新密码" required="" />
                        <input class="form-control text-capitalize" style="height: 50px" type="submit" value="登录">
                    </form>
                    <br>

                </div>
            </div>
        </div>
        <!-- //banner -->
</header>
<!-- //header -->

<!-- banner bottom -->
<section class="banner-bottom py-5">
    <div class="container py-md-3">


    </div>
</section>
<!-- //banner bottom -->



<!-- //why choose us -->

<!-- quote -->
<section class="quote bg-light py-5">
    <div class="container py-md-3" data-aos="fade-up">


        <div class="clearfix"></div>
    </div>
</section>
<!-- //quote -->

<!-- process -->
<section class="process py-5" id="overview">
    <div class="container py-md-5">
        <div class="row process-grids">
            <div class="col-lg-6" data-aos="fade-right">

            </div>

            <div class="col-lg-6 mt-5" data-aos="fade-left">

            </div>
        </div>
</section>
<!-- //process -->

<!--/pricing -->
<section class="pricing bg-light py-5" id="pricing">
    <div class="container py-lg-3">
        <div class="inner-sec">

            <div class="price-right">

            </div>
        </div>
    </div>
</section>
<!-- //pricing -->

<!-- faqs -->
<section class="faq-w3l py-5" id="faq">
    <div class="container py-lg-3">

        <div class="row faq-info">
            <div class=" col-md-6 faq-w3agile">

            </div>
            <div class=" col-md-6 faq-w3agile">

            </div>
        </div>
    </div>
</section>
<!-- //faqs -->

<!-- testimonials -->

<!-- //testimonials -->

<!-- contact -->

<!-- //contact -->

<!--footer -->
<footer>
    <section class="footer footer_w3layouts_section_1its py-5" style="height:300 px;">
        <div class="container py-md-3">
            <div class="footer-grid_section text-center" data-aos="zoom-in" padding:5px; style="height: 40x;">
                <ul class="social_section_1info">
                    <li class="mb-2 facebook"><a href="#"><i class="fab mr-1 fa-facebook-f"></i>facebook</a></li>
                    <li class="mb-2 twitter"><a href="#"><i class="fab mr-1 fa-twitter"></i>twitter</a></li>
                    <li class="google"><a href="#"><i class="fab mr-1 fa-google-plus-g"></i>google</a></li>
                    <li class="linkedin"><a href="#"><i class="fab mr-1 fa-linkedin-in"></i>linkedin</a></li>
                </ul>
            </div>

            <div class="row footer-top mt-md-5 mt-4"style="height: 150px;">
                <div class="col-lg-4 col-md-6 footer-grid_section_1its_w3" data-aos="fade-right">
                    <div class="footer-title">
                        <h3>关 于 我 们</h3>
                    </div>
                    <div class="footer-text">
                        <p>产 品 介 绍 </p>
                        <p>相 关 新 闻  <a href="mailto:info@example.com">info@example.com</a></p>
                        <p>联 系 我 们 : +12 534894364</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4 footer-grid_section_1its_w3" data-aos="fade-up">
                    <div class="footer-title">
                        <h3>友 情 链 接</h3>
                    </div>
                    <div class="row">
                        <ul class="col-6 links">
                            <li><a href="#choose" class="scroll"> </a></li>
                            <li><a href="#https://www.zhipin.com/?sid=sem_pz_360pc_title" class="scroll">Boss 直 聘 </a></li>
                            <li><a href="#https://zhaopin.baidu.com/quanzhi" class="scroll">百 度 百 聘</a></li>
                            <li><a href="#https://wh.58.com/?utm_source=sem-360-pc&spm=14623020152.6642781136&utm_campaign=sell&utm_medium=cpcq" class="scroll">58 同 城 </a></li>
                            <li><a href="#https://join.qq.com/" class="scroll">腾 讯 校 园 招 聘 </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mt-lg-0 mt-4 col-sm-12 footer-grid_section_1its_w3" data-aos="fade-left">
                    <div class="footer-title">
                        <h3>用户中心</h3>
                    </div>
                    <ul class="col-6 links">
                        <li><a href="#">使 用 指 南 </a></li>
                        <li><a href="#faq" class="scroll">用 户 协 议</a></li>
                        <li><a href="#">企 业 咨 询</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row">
            <img src="/erweima.jpg">
        </div>

    </section>

</footer>
<!-- //footer -->

<!-- copyright -->
<div class="cpy-right text-center py-3"style="height: 40px;">
    <p class="">Copyright &copy; 2019.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
</div>
<!-- //copyright -->

<!-- Vertically centered Modal -->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-capitalize text-center" id="exampleModalLongTitle"> <i class="fab fa-blackberry"></i> Landing</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save Changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- //Vertically centered Modal -->

<!-- video Modal Popup -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Video Overview</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body video">
                <iframe src=""></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save Changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- //video Model Popup -->

<!--/Login-->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="login px-4 mx-auto mw-100">
                    <h5 class="text-center mb-4">Login Now</h5>
                    <form action="#" method="post">
                        <div class="form-group">
                            <label class="mb-2">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label class="mb-2">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="" required="">
                        </div>
                        <div class="form-check mb-2">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary submit mt-2">Sign In</button>
                        <p class="text-center pb-4">
                            <a href="#" data-toggle="modal2" data-target="#exampleModalCenter"> Don't have an account?</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//Login-->

<!-- js -->
<script src="/static/boot/js/jquery-2.2.3.min.js"></script>
<script src="/static/boot/js/bootstrap.js"></script>
<!-- //js -->

<!-- animation js -->
<script src='/static/boot/js/aos.js'></script>
<script>
    AOS.init({
        easing: 'ease-out-back',
        duration: 1000
    });

</script>
<!-- //animation js -->

<!-- testimonials  Responsiveslides -->
<script src="/static/boot/js/responsiveslides.min.js"></script>
<script>
    // You can also use"$(window).load(function() {"
    $(function () {
        // Slideshow 4
        $("#slider3").responsiveSlides({
            auto: true,
            pager: true,
            nav: false,
            speed: 500,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });

    });
</script>
<!-- //testimonials  Responsiveslides -->

<!-- sticky nav bar-->
<script>
    $(() => {

        //On Scroll Functionality
        $(window).scroll(() => {
            var windowTop = $(window).scrollTop();
    windowTop > 100 ? $('nav').addClass('navShadow') : $('nav').removeClass('navShadow');
    windowTop > 100 ? $('ul.nav-agile').css('top', '50px') : $('ul.nav-agile').css('top', '160px');
    });

    //Click Logo To Scroll To Top
    $('#logo').on('click', () => {
        $('html,body').animate({
        scrollTop: 0
    }, 500);
    });

    /*
     //Smooth Scrolling Using Navigation Menu
     $('a[href*="#"]').on('click', function (e) {
       $('html,body').animate({
         scrollTop: $($(this).attr('href')).offset().top - 100
       }, 500);
       e.preventDefault();
     });
    */

    //Toggle Menu
    $('#menu-toggle').on('click', () => {
        $('#menu-toggle').toggleClass('closeMenu');
    $('ul').toggleClass('showMenu');

    $('li').on('click', () => {
        $('ul').removeClass('showMenu');
    $('#menu-toggle').removeClass('closeMenu');
    });
    });

    });
</script>
<!-- //sticky nav bar -->

<script src="/static/boot/js/smoothscroll.js"></script><!-- Smooth scrolling -->

<!-- start-smoth-scrolling -->
<script src="/static/boot/js/move-top.js"></script>
<script src="/static/boot/js/easing.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 900);
        });
    });
</script>
<script>
    $(document).ready(function () {
        /*
        var defaults = {
              containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
         };
        */

        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
</script>
<!-- //end-smoth-scrolling -->

</body>
</html>