<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Insurance - Press</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="/bootes/css/icons.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/bootes/css/easy-responsive-tabs.css " />
    <link rel="stylesheet" type="text/css" href="/bootes/css/flexslider.css " />
    <!--<![endif]-->
    <link href="/bootes/css/style.css" rel="stylesheet" type="text/css">
</head>

<body data-spy="scroll" data-target=".navbar-fixed-top">

<div class="clear"></div>
<div id="page-content">
    <section class="product-tab">
        <div class="container">
            <div class="row">
                <div id="parentVerticalTab">
                    <h2>职位</h2>
                    <ul class="resp-tabs-list hor_1 col-sm-3 col-md-3 col-lg-3">
                        <li><i class="ti-home"></i> 计算机软件</li>
                        <li><i class="fa fa-plane"></i> 计算机硬件</li>
                        <li><i class="ti-heart-broken"></i>互联网/电子商务/网游</li>
                        <li><i class="ti-car"></i> 通信技术开发及应用</li>
                    </ul>
                    <div class="col-sm-5 col-md-5 col-lg-5 resp-tabs-container hor_1">
                        <div>
                            <div class="prod-tab-content">
                                <h4>
                                    <span class="prod-cion"><i class="ti-home"></i></span>
                                    <!--第一个计算机软件/硬件-->
                                    计算机软件/硬件
                                </h4>
                                <table border="0" width="400">
                                    <td>
                                        <tr width="100">高级软件工程师 </tr>
                                        <tr width="100">算法工程师  </tr>
                                        <tr width="100">ERP实施顾问</tr>
                                    </td>
                                    <td>
                                        <tr width="100">架构设计师 </tr>
                                        <tr> </tr>
                                        <tr> </tr>
                                        <tr></tr>
                                    </td>
                                </table>
                                <p>数据工程师/管理员</p>
                                <p></p>
                                <p></p>

                                <p>et placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. </p>
                                <p class="tel">
                                    <i class="fa fa-phone"></i> +123 456 7890 <span>Toll Free</span>
                                </p>
                                <p>
                                    <a class="btn-default" href="product-houseinsurance.html">Get Free Quote</a>
                                </p>
                            </div>
                            <img src="/bootes/images/product-img.jpg" alt="" class="img-responsive" />
                        </div>
                        <div>
                            <div class="prod-tab-content">
                                <h4>
                                    <span class="prod-cion"><i class="fa fa-plane"></i></span>
                                    <!--第二个  管理类岗位-->
                                    管理类岗位
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer</p>
                                <p>et placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. </p>
                                <p class="tel">
                                    <i class="fa fa-phone"></i> +123 456 7890 <span>Toll Free</span>
                                </p>
                                <p>
                                    <a class="btn-default" href="#">Get Free Quote</a>
                                </p>
                            </div>
                            <img src="/bootes/images/1.jpg" alt="" class="img-responsive" />
                        </div>
                        <div>
                            <div class="prod-tab-content">
                                <h4>
                                    <span class="prod-cion"><i class="ti-heart-broken"></i></span>
                                    <!--第三个  互联网/电子商务/网游-->
                                    互联网/电子商务/网游
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer</p>
                                <p>et placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. </p>
                                <p class="tel">
                                    <i class="fa fa-phone"></i> +123 456 7890 <span>Toll Free</span>
                                </p>
                                <p>
                                    <a class="btn-default" href="#">Get Free Quote</a>
                                </p>
                            </div>
                            <img src="/bootes/images/3.jpg" alt="" class="img-responsive" />
                        </div>
                        <div>
                            <div class="prod-tab-content">
                                <h4>
                                    <span class="prod-cion"><i class="ti-car"></i></span>
                                    通信技术开发及应用
                                    <!--第四个 通信技术开发及应用  -->
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer</p>
                                <p>et placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. </p>
                                <p class="tel">
                                    <i class="fa fa-phone"></i> +123 456 7890 <span>Toll Free</span>
                                </p>
                                <p>
                                    <a class="btn-default" href="#">Get Free Quote</a>
                                </p>
                            </div>
                            <img src="/bootes/images/2.jpg" alt="" class="img-responsive" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="clear"></div>

<script src="/bootes/js/jquery.min.js"></script>
<script src="/bootes/js/easyResponsiveTabs.js"></script>
<script src="/bootes/js/custom.js"></script>
</body>

</html>
