<!DOCTYPE html>
<html lang="en">
<head>
	<title>普 通 用 户 登 录</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />

	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

	<!-- animation css files -->
	<link rel="stylesheet" href="css/animation-aos.css">
	<link href='/boot/css/aos.css' rel='stylesheet prefetch' type="text/css" media="all" />
	<!-- //animation css files -->

	<!-- css files -->
	<link href="/boot/css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
	<link href="/boot/css/style.css" rel='stylesheet' type='text/css' /><!-- custom css -->
	<link href="/boot/css/fontawesome-all.css" rel="stylesheet"><!-- fontawesome css -->
	<!-- //css files -->

	<!-- google fonts -->
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
	<!-- //google fonts -->
	<!--下拉菜单-->
	<link href="bootstrap8/css/bootstrap.css" type="text/css" rel="stylesheet">
	<!--//下拉菜单-->
</head>
<body>

<!-- header -->
<header class="index-banner">
	<!-- nav -->
	<nav class="main-header  navbar navbar-default" >
		<div id="brand" data-aos="zoom-in-up">
			<div id="logo">
				<a href="index.html">
					<i class="fab fa-blackberry"></i>
				</a>
			</div>
			<div id="word-mark">
				<h1>
					<a href="index.html">DATABOX</a>
				</h1>
			</div>
		</div>
		<div id="menu">
			<div id="menu-toggle">
				<div id="menu-icon">
					<div class="bar"></div>
					<div class="bar"></div>
				</div>
			</div>
			<ul class="text-center text-capitalize nav-agile" data-aos="zoom-in-up" margin-right:40px>
				<li>
					<a href="/data/main" class="active">首页</a>
				</li>
				<li>
					<a href="index.html" class="active"></a>
				</li>
				<!--<li>
                    <a href="#choose" class="scroll">职位</a>
                </li>-->
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">报表 <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a  target="_blank" href="/data/position1" style="color: #4e4f50">数据挖掘</a></li>
						<li><a target="_blank"  href="/data/position2"  style="color:#4e4f50">人事经理</a></li>
						<li><a target="_blank"  href="/data/position3" style="color:#4e4f50">C++游戏开发 </a></li>
						<li><a target="_blank"  href="/data/position4"  style="color:#4e4f50">web前端开发师 </a></li>
					</ul>
				</li>
				<li>
					<a href="index.html" class="active"></a>
				</li>
				<!--                <li>-->
				<!--                    <a href="#overview" class="scroll">城市</a>-->
				<!--                </li>-->
				<!--                <li class="dropdown">-->
				<!--                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">城市 <span class="caret"></span></a>-->
				<!--                    <ul class="dropdown-menu">-->
				<!--                        <li><a th:href="@{'getcity/1'}" style="color:#4e4f50">北京</a></li>-->
				<!--                        <li><a th:href="@{'getcity/2'}"  style="color:#4e4f50">上海</a></li>-->
				<!--                        <li><a th:href="@{'getcity/3'}"  style="color:#4e4f50">广州</a></li>-->
				<!--                        <li><a th:href="@{'getcity/4'}"  style="color:#4e4f50">深圳</a></li>-->
				<!--                        <li><a th:href="@{'getcity/5'}"  style="color:#4e4f50">杭州</a></li>-->
				<!--                        <li><a th:href="@{'getcity/6'}"  style="color:#4e4f50">成都</a></li>-->
				<!--                        <li><a th:href="@{'getcity/7'}"  style="color:#4e4f50">武汉</a></li>-->
				<!--                        <li><a th:href="@{'getcity/8'}"  style="color:#4e4f50">南京</a></li>-->

				<!--                    </ul>-->
				<!--                </li>-->


				<li>
					<a th:href="@{'position/0'}" class="scroll">职位</a>
				</li>
				<li>
					<a href="index.html" class="active"></a>
				</li>
				<li>
					<a href="/data/chat1" class="scroll">讨论</a>
				</li>
				<!--                <li>-->
				<!--                    <a href="/user/shoppingcar" class="scroll">个人中心</a>-->
				<!--                </li>-->
				<li>
					<a href="index.html" class="active"></a>
				</li>
				<!--                <li>-->
				<!--                    <img src="/BootStrap1/images/1.png" class="" />-->
				<!--                </li>-->
				<!--                <li >-->
				<!--                    <a class="scroll"     th:text="${session.UserInfo.UserName}"  href="" >-->
				<!--                        &lt;!&ndash;                        th:text="${session.UserInfo.UserName}"&ndash;&gt;-->
				<!--                    </a>-->
				<!--                </li>-->
				<li class="dropdown">
					<a  href="#"  class="dropdown-toggle"   data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >用户名 <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/user/shoppingcar"   style="color:#4e4f50">个人中心</a></li>
					</ul>
				</li>
				<li>
					<a href="index.html" class="active"></a>
				</li>
				<li>
					<a href="index.html" class="active"></a>
				</li>
				<!--                <li>-->
				<!--                    <a href="/user/login" class="scroll">登录</a>-->
				<!--                </li>-->
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">登陆 <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/user/login2" style="color: #4e4f50">企业用户</a></li>
						<li><a href="/data/admin"  style="color:#4e4f50">管理员</a></li>
					</ul>
				</li>
				<li>
					<a href="index.html" class="active"></a>
				</li>
				<!--                <li>-->
				<!--                    <a href="/user/register" class=" scroll">注册</a>-->
				<!--                </li>-->
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">注册 <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/data/register2" style="color: #4e4f50">企业用户</a></li>
						<li><a href="/user/register"  style="color:#4e4f50">普通用户</a></li>

					</ul>
				</li>

				<li>
					<a href="index.html" class="active"></a>
				</li>

				<li>
					<a href="index.html" class="active"></a>
				</li>

			</ul>
		</div>
	</nav>
	<!-- //nav -->
	<!-- banner -->
	<div class="banner layer" id="home">
		<div class="container">
			<div class="row banner-text">
				<div class="slider-info col-lg-8">
					<div class="agileinfo-logo mt-5">
						<br>
						<br>
						<br>
						<br>
						<br>
						<h3 class="txt-w3_agile" data-aos="fade-down">社 会 职 位 变 化 分 析 </h3>
						<br>
						<br>
						<br>
						<br>
						<br>
					</div>
					<div class="col-lg-4 col-md-8 mt-lg-0 mt-5 banner-form" data-aos="fade-left">
					</div>
				</div>
				<div class="col-lg-4 col-md-8 mt-lg-0 mt-5 banner-form" data-aos="fade-left">
					<h5><i class="fas mr-2 fa-laptop" style="height: 50px"></i>普 通 用 户 登 录</h5>
					<form >
						<input class="form-control" style="height: 50px" type="text" name="UserPhone" id="UserPhone" placeholder="请输入账号" required="" /><br>
						<input class="form-control" style="height: 50px" type="password" name="Password" id="Password" placeholder="请输入密码" required="" /><br>
						<!--						<input class="form-control text-capitalize" style="height: 50px" type="submit" value="登录">-->
						<div id="info"></div>
						<button type="button" id="button1" class="form-control text-capitalize" style="height: 50px">登录</button>

					</form>
					<br>
					<li>
						<h6>
							<a href="/user/register"  class="text-info">没有账号？立即注册</a>
							<a href="/user/findpassword1"  class="text-info">忘记密码？</a>
						</h6>
					</li>
				</div>
			</div>
		</div>
	</div>
	<!-- //banner -->
</header>
<!-- //header -->

<!-- banner bottom -->
<section class="banner-bottom py-5">
	<div class="container py-md-3">


	</div>
</section>
<!-- //banner bottom -->



<!-- //why choose us -->

<!-- quote -->
<section class="quote bg-light py-5">
	<div class="container py-md-3" data-aos="fade-up">


		<div class="clearfix"></div>
	</div>
</section>
<!-- //quote -->

<!-- process -->
<section class="process py-5" id="overview">
	<div class="container py-md-5">
		<div class="row process-grids">
			<div class="col-lg-6" data-aos="fade-right">

			</div>

			<div class="col-lg-6 mt-5" data-aos="fade-left">

			</div>
		</div>
	</div>
</section>
<!-- //process -->

<!--/pricing -->
<section class="pricing bg-light py-5" id="pricing">
	<div class="container py-lg-3">
		<div class="inner-sec">

			<div class="price-right">

			</div>
		</div>
	</div>
</section>
<!-- //pricing -->

<!-- faqs -->
<section class="faq-w3l py-5" id="faq">
	<div class="container py-lg-3">

		<div class="row faq-info">
			<div class=" col-md-6 faq-w3agile">

			</div>
			<div class=" col-md-6 faq-w3agile">

			</div>
		</div>
	</div>
</section>
<!-- //faqs -->

<!-- testimonials -->

<!-- //testimonials -->

<!-- contact -->

<!-- //contact -->

<!--footer -->
<footer>
	<section class="footer footer_w3layouts_section_1its py-5" style="height:300 px;">
		<div class="container py-md-3">
			<div class="footer-grid_section text-center" data-aos="zoom-in" padding:5px; style="height: 40x;">
				<ul class="social_section_1info">
					<li class="mb-2 facebook"><a href="#"><i class="fab mr-1 fa-facebook-f"></i>facebook</a></li>
					<li class="mb-2 twitter"><a href="#"><i class="fab mr-1 fa-twitter"></i>twitter</a></li>
					<li class="google"><a href="#"><i class="fab mr-1 fa-google-plus-g"></i>google</a></li>
					<li class="linkedin"><a href="#"><i class="fab mr-1 fa-linkedin-in"></i>linkedin</a></li>
				</ul>
			</div>

			<div class="row footer-top mt-md-5 mt-4"style="height: 150px;">
				<div class="col-lg-4 col-md-6 footer-grid_section_1its_w3" data-aos="fade-right">
					<div class="footer-title">
						<h3>关 于 我 们</h3>
					</div>
					<div class="footer-text">
						<p>产 品 介 绍 </p>
						<p>相 关 新 闻  <a href="mailto:info@example.com">info@example.com</a></p>
						<p>联 系 我 们 : +12 534894364</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mt-md-0 mt-4 footer-grid_section_1its_w3" data-aos="fade-up">
					<div class="footer-title">
						<h3>友 情 链 接</h3>
					</div>
					<div class="row">
						<ul class="col-6 links">
							<li><a href="#choose" class="scroll"> </a></li>
							<li><a href="#https://www.zhipin.com/?sid=sem_pz_360pc_title" class="scroll">Boss 直 聘 </a></li>
							<li><a href="#https://zhaopin.baidu.com/quanzhi" class="scroll">百 度 百 聘</a></li>
							<li><a href="#https://wh.58.com/?utm_source=sem-360-pc&spm=14623020152.6642781136&utm_campaign=sell&utm_medium=cpcq" class="scroll">58 同 城 </a></li>
							<li><a href="#https://join.qq.com/" class="scroll">腾 讯 校 园 招 聘 </a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 mt-lg-0 mt-4 col-sm-12 footer-grid_section_1its_w3" data-aos="fade-left">
					<div class="footer-title">
						<h3>用户中心</h3>
					</div>
					<ul class="col-6 links">
						<li><a href="#">使 用 指 南 </a></li>
						<li><a href="#faq" class="scroll">用 户 协 议</a></li>
						<li><a href="#">企 业 咨 询</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row"></div>
		<div class="row"></div>
		<div class="row"></div>
		<div class="row">
			<img src="/erweima.jpg">
		</div>

	</section>

</footer>
<!-- //footer -->

<!-- copyright -->
<div class="cpy-right text-center py-3"style="height: 40px;">
	<p class="">Copyright &copy; 2019.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
</div>
<!-- //copyright -->

<!-- Vertically centered Modal -->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-capitalize text-center" id="exampleModalLongTitle"> <i class="fab fa-blackberry"></i> Landing</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Save Changes</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- //Vertically centered Modal -->

<!-- video Modal Popup -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Video Overview</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body video">
				<iframe src=""></iframe>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Save Changes</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- //video Model Popup -->

<!--/Login-->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="login px-4 mx-auto mw-100">
					<h5 class="text-center mb-4">Login Now</h5>
					<form action="#" method="post">
						<div class="form-group">
							<label class="mb-2">Email address</label>
							<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="">
							<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
						</div>
						<div class="form-group">
							<label class="mb-2">Password</label>
							<input type="password" class="form-control" id="exampleInputPassword1" placeholder="" required="">
						</div>
						<div class="form-check mb-2">
							<input type="checkbox" class="form-check-input" id="exampleCheck1">
							<label class="form-check-label" for="exampleCheck1">Check me out</label>
						</div>
						<button type="submit" class="btn btn-primary submit mt-2">Sign In</button>
						<p class="text-center pb-4">
							<a href="#" data-toggle="modal2" data-target="#exampleModalCenter"> Don't have an account?</a>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!--//Login-->

<!-- js -->
<script src="/boot/js/jquery-2.2.3.min.js"></script>
<script src="/boot/js/bootstrap.js"></script>
<!-- //js -->

<!-- animation js -->
<script src='/js/aos.js'></script>
<script>
	AOS.init({
		easing: 'ease-out-back',
		duration: 1000
	});

</script>
<!-- //animation js -->

<!-- testimonials  Responsiveslides -->
<script src="/js/responsiveslides.min.js"></script>
<script>
	// You can also use"$(window).load(function() {"
	$(function () {
		// Slideshow 4
		$("#slider3").responsiveSlides({
			auto: true,
			pager: true,
			nav: false,
			speed: 500,
			namespace: "callbacks",
			before: function () {
				$('.events').append("<li>before event fired.</li>");
			},
			after: function () {
				$('.events').append("<li>after event fired.</li>");
			}
		});

	});
</script>
<!-- //testimonials  Responsiveslides -->

<!-- sticky nav bar-->
<script>
	$(() => {

		//On Scroll Functionality
		$(window).scroll(() => {
			var windowTop = $(window).scrollTop();
			windowTop > 100 ? $('nav').addClass('navShadow') : $('nav').removeClass('navShadow');
			windowTop > 100 ? $('ul.nav-agile').css('top', '50px') : $('ul.nav-agile').css('top', '160px');
		});

		//Click Logo To Scroll To Top
		$('#logo').on('click', () => {
			$('html,body').animate({
				scrollTop: 0
			}, 500);
		});

		/*
         //Smooth Scrolling Using Navigation Menu
         $('a[href*="#"]').on('click', function (e) {
           $('html,body').animate({
             scrollTop: $($(this).attr('href')).offset().top - 100
           }, 500);
           e.preventDefault();
         });
        */

		//Toggle Menu
		$('#menu-toggle').on('click', () => {
			$('#menu-toggle').toggleClass('closeMenu');
			$('ul').toggleClass('showMenu');

			$('li').on('click', () => {
				$('ul').removeClass('showMenu');
				$('#menu-toggle').removeClass('closeMenu');
			});
		});

	});
</script>
<!-- //sticky nav bar -->

<script src="/js/smoothscroll.js"></script><!-- Smooth scrolling -->

<!-- start-smoth-scrolling -->
<script src="/js/move-top.js"></script>
<script src="/js/easing.js"></script>
<script>
	jQuery(document).ready(function ($) {
		$(".scroll").click(function (event) {
			event.preventDefault();
			$('html,body').animate({
				scrollTop: $(this.hash).offset().top
			}, 900);
		});
	});
</script>
<script>
	$(document).ready(function () {
		/*
        var defaults = {
              containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
         };
        */

		$().UItoTop({
			easingType: 'easeOutQuart'
		});

	});
</script>
<!-- //end-smoth-scrolling -->
<script src="/boot9/js/jquery.js"></script>

<!--modernizr.min.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

<!--bootstrap.min.js-->
<script src="/boot9/js/bootstrap.min.js"></script>

<!-- bootsnav js -->
<script src="/boot9/js/bootsnav.js"></script>

<!-- jquery.sticky.js -->
<script src="/boot9/js/jquery.sticky.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>


<!--Custom JS-->
<script src="/boot9/js/custom.js"></script>
</body>
</html>
<script type="text/javascript">

	$(function () {
		$("#button1").click(function () {
			var UserPhone=$("#UserPhone").val();
			var Password=$("#Password").val();


			$.ajax({
				type:"post",
				url:"/user/login",
				data:{UserPhone:UserPhone,Password:Password},
				success:function (result) {
					if(result=="1"){
						location.href="/data/main";
					}else {
						$("#info").html("账号或密码错误！请重新输入！");
					}

				}
			})
		})

	})

</script>